 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: white;
}

.navBar{
  font-size: x-large;
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}

.navBar li, .right-greet{
  padding: 7px 8px;
  float: left;
  display: inline;
}

.navBar li a{
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
}

.navBar li:hover{
  background-color: blue;
}

.navBar .right, .right-greet{
  text-align: center;
  color: white;
  float: right;
}

/* .navBar .active{
  background-color: blue;
}*/

.formTitle{
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-weight: bold;
}

.input-container{
  font-size: x-large;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  border: 3px solid black;
  margin: auto;
  color: black;
  position: relative;
  top: 200px;
}

.input-container button, .inputBox{
  width: 75%;
  border: black 2px solid;
  border-radius: 6px;
  margin:auto;
  background: transparent;
  padding: 10px;
  margin-top:25px;
}



body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
